* {
  margin: 0;
  padding: 0;
  user-select: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-size: 12px;
}
html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Graphik-Regular";
  src: url("../fonts/Graphik-Regular.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmericaLight";
  src: url("../fonts/GTAmericaLight.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "MaelstromSansTest-Bold";
  src: url("../fonts/MaelstromSansTest-Bold.woff2");
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}
a:hover {
  text-decoration: none;
}
.demo-1 {
  --bg-color: #fafafa;
  --line-color: #d3d4d4;
  --title-color: #009cea;
  --link-color: #ff6d00;
  --text-color: #1f1f1f;
  --nav-links: #009cea;
  --nav-hover: #ff6d00;
  --paragraph-color: #f2f2f2;
  --cursor-color: #3a363a;
  --main-font: "Graphik-Regular";
  --text-font: "GTAmericaLight";
  --number-font: "MaelstromSansTest-Bold";
  --aspect-ratio: 32/17;
  --img-maxwidth: 250px;
  --blendmode-title: difference;
}
.cursor {
  display: none;
}
@media (any-pointer: fine) {
  .cursor {
    display: block;
  }
  .cursor__inner {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference !important;
    border-radius: 50%;
  }
  .cursor__inner--circle {
    width: 25px;
    height: 25px;
    border: 1px solid var(--cursor-color);
  }
}
/************************************************ Arrow Button ******************************************************/
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  letter-spacing: 1px;
}
button.learn-more {
  width: 16rem;
  height: auto;
}
button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--link-color);
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--text-color);
  font-family: var(--text-font);
  line-height: 1.6;
  text-align: center;
  font-size: 2.2vh;
  margin-top: -2%;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/*********************************************** NAVIGATION *****************************************************/
#mainNav {
  transform: translateY(0);
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 3px;
  padding-bottom: 3px;
  background: transparent;
  transform: translateY(0);
  opacity: 1;
  z-index: 9;
  background: var(--bg-color);
}
.navbar-brand img {
  width: 65px;
}
.navbar-brand {
  margin-right: 0;
  margin-left: 2%;
}
.navbar-toggler {
  position: absolute;
  width: 40px;
  top: 31px;
  right: 30px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.navbar-toggler span {
  display: block;
  background: var(--title-color);
  width: 30px;
  height: 1px;
  transition: 300ms linear all;
}
.navbar-toggler span:nth-child(1) {
  width: 32px;
  margin: 5px 0;
}
.navbar-toggler span:nth-child(2) {
  width: 20px;
  margin: 0 auto;
  background: var(--link-color);
}
.navbar-toggler span:nth-child(3) {
  width: 32px;
  margin: 5px 0;
}
.navbar-toggler:hover span:nth-child(2) {
  width: 30px;
}
.nav-item a {
  padding: 5px 15px !important;
  font-size: 14px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  text-transform: uppercase;
  margin-left: -2%;
}
.nav-item a:hover {
  color: var(--nav-hover);
}
#mainNav.navbar-shrink {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}
#mainNav.navbar-shrink {
  position: fixed;
  background-color: var(--bg-color);
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
  width: 100%;
  border-bottom: 1px solid var(--line-color);
}
@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}
#track_shipment_btn {
  list-style: none;
}

/*********************************************** HERO *****************************************************/
#hero {
  padding-top: 0%;
}
#hero #show_img {
  width: 100%;
  height: 50vh;
}
#style_container {
  position: relative;
  margin-top: -20%;
  width: 90%;
  background: #fff;
  z-index: 1;
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .line {
  width: 80%;
  height: 42px;
  position: relative;
  overflow: hidden;
  margin-left: -7%;
}
.wrapper .line span {
  position: absolute;
  font-size: 4.5vh;
  font-family: var(--main-font);
  letter-spacing: 1px;
  color: var(--text-color);
  text-transform: uppercase;
  line-height: 4.2rem;
}
#style_container #roll {
  width: 8%;
  vertical-align: middle;
}
#style_container h6 {
  font-size: 2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  line-height: 1.3;
  margin-left: 5%;
  margin-top: 10%;
}
#style_container p {
  font-size: 2.2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  line-height: 1.3;
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: 10%;
}
#style_container a {
  margin-left: 5%;
}
/*********************************************** INFO *****************************************************/
#info {
  margin-top: 16%;
}
.info-intro {
  margin: 3%;
}
#info h2 {
  font-size: 2.6vh;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: var(--title-color);
  margin-bottom: 2%;
}
#info p {
  font-size: 2.2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  line-height: 1.2;
}
/*  */
#info .row {
  margin-top: 5%;
}
#info h6 {
  font-size: 2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 3%;
}
.info-box h3 {
  font-size: 2.6vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--title-color);
  margin-bottom: 3%;
}

/******************************************* mission_vision ***************************************/
#mission_vision {
  margin-top: 12%;
}
.mission_vision-intro {
  margin: 3%;
}
#mission_,
#vision_ {
  position: relative; /* Ensure the parent is positioned */
  height: 30vh;
  border-radius: 6px;
  overflow: hidden; /* Prevent overflow from the pseudo-element */
  margin-bottom: 2%;
}
#mission_::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/mission_banner.avif") 50% 50% no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.85; /* Set opacity to 85% */
  z-index: -1; /* Place it behind other content */
}
#vision_::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/vision_banner.avif") 50% 50% no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.85; /* Set opacity to 85% */
  z-index: -1; /* Place it behind other content */
}
#mission_vision .card {
  margin: 3%;
  margin-top: 25%;
  border: none;
}
#mission_vision h1 {
  margin-top: 2%;
  text-align: left;
  color: var(--title-color);
  font-size: 2vh;
  letter-spacing: 1px;
  font-family: var(--text-font);
}
#mission_vision h1 span {
  float: right;
}
#mission_vision img {
  width: 45px;
}

/******************************************** Clients **************************************************/
#clients {
  margin-top: 15%;
}
#clients .txt {
  margin: 2%;
}
#clients h1 {
  font-size: 4.5vh;
  font-family: var(--main-font);
  letter-spacing: 1px;
  color: var(--title-color);
  margin-bottom: 3%;
}
#clients h6 {
  font-size: 2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 12%;
  line-height: 1.4;
}
#clients h6 span {
  border-bottom: 1px solid var(--text-color);
}
#clients #clients-slider img {
  width: 70px;
  height: 50px;
  margin: 0 auto;
  /*    margin-bottom: 20%;*/
  opacity: 0.85; /* Set opacity to 85% */
}
#clients #clients-slider img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}
.owl-carousel .owl-dots.disabled {
  display: inline-block;
  margin-bottom: 20%;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot.active:hover span {
  background: #335fd4 !important;
  margin-bottom: 20%;
}
.owl-theme .owl-dots .owl-dot span {
  background: #31323d !important;
  margin-bottom: 20%;
}

/******************************************* Footer ***************************************/
footer p {
  margin-top: 2%;
  text-align: center;
  color: var(--title-color);
  font-size: 1.7vh;
  letter-spacing: 2px;
  margin-bottom: 3%;
  font-family: var(--text-font);
}
/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  #mainNav {
    border-bottom: 1px solid var(--line-color);
  }
  .navbar-brand img {
    width: 65px;
    margin-top: -20%;
  }
  #track_shipment {
    margin-bottom: 3px;
  }
  #mainNav.navbar-shrink {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  footer p {
    margin-top: -3%;
    margin-bottom: 3%;
    padding-bottom: 4%;
    font-family: var(--text-font);
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /* navbar */
  #mainNav {
    padding-top: 1px;
    padding-bottom: 1px;
    background: transparent;
  }
  .nav-item a {
    padding: 5px 10px !important;
    font-size: 1.8vh;
    margin-left: 0%;
    margin-top: 2%;
  }
  .navbar-brand img {
    width: 8vh;
    margin-left: -20%;
  }
  #mainNav.navbar-shrink {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  #mainNav.navbar-shrink .nav-item a {
    font-size: 1.8vh;
    margin-left: 0%;
  }

  /* hero */
  #hero {
    padding-top: 0%;
  }
  #hero #show_img {
    height: 96vh;
  }
  #style_container {
    margin-top: -23%;
    width: 70%;
    margin-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .wrapper .line {
    width: 80%;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin-left: -13%;
  }
  .wrapper .line span {
    font-size: 10vh;
    line-height: 8.2rem;
  }
  #style_container #roll {
    width: 8%;
  }
  #style_container h6 {
    font-size: 2.1vh;
    line-height: 1.3;
    margin-left: 45%;
    margin-top: 2%;
  }
  #style_container p {
    font-size: 2.5vh;
    line-height: 1.6;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  #style_container p span {
    display: block;
  }
  #style_container a {
    margin-left: 5%;
  }
  button.learn-more {
    width: 14vw;
  }
  button.learn-more .button-text {
    line-height: 1.2;
    font-size: 2.2vh;
    margin-top: -0.5%;
  }

  /* info */
  #info {
    margin-top: 5%;
  }
  .info-intro {
    margin: 3%;
  }
  #info h2 {
    font-size: 2.7vh;
    letter-spacing: 1px;
    margin-bottom: 1%;
  }
  #info p {
    font-size: 2.3vh;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  /*  */
  #info .row {
    margin-top: 5%;
  }
  #info #review_txt {
    margin-right: 1%;
    border-right: 1px solid var(--text-color);
  }
  #info h6 {
    font-size: 2.2vh;
    letter-spacing: 1px;
    margin-bottom: 3%;
  }
  .info-box h3 {
    font-size: 3vh;
    letter-spacing: 1px;
    margin-bottom: 3%;
  }

  /* mission_vision */
  #mission_vision {
    margin-top: 5%;
  }
  .mission_vision-intro {
    margin: 3%;
  }
  #mission_,
  #vision_ {
    height: 30vh;
    margin-bottom: 12px;
  }
  #mission_::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85; /* Set opacity to 85% */
  }
  #vision_::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85; /* Set opacity to 85% */
  }
  #mission_vision .card {
    margin: 1%;
    margin-top: 6%;
    width: 60%;
  }
  #mission_vision h1 {
    margin-top: 2%;
    font-size: 2.2vh;
    letter-spacing: 1px;
  }
  #mission_vision img {
    width: 50px;
  }

  /* clients */
  #clients {
    margin-top: 5%;
  }
  #clients .txt {
    margin: 2%;
    margin-left: 70%;
  }
  #clients h1 {
    font-size: 4.5vh;
    margin-bottom: 3%;
  }
  #clients h6 {
    font-size: 2vh;
    margin-bottom: 17%;
    line-height: 1.4;
  }
  #clients #clients-slider img {
    width: 45%;
    height: auto;
    margin: 0 auto;
  }
}

/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1900px) {
  .wrapper .line {
    width: 80%;
    height: 120px;
    position: relative;
    overflow: hidden;
    margin-left: -13%;
  }
  .wrapper .line span {
    font-size: 10vh;
    line-height: 8.2rem;
  }
  button.portfolio_link {
    width: 23rem !important;
    height: auto;
  }
  button.portfolio_link .button-text {
    margin-top: -2%;
  }
}
