{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Delivering Smiles, One Package at a Time." />
    <meta name="keywords" content="Gloverx Shipping Services" />
    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static 'images/gloverx.png' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/%20base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <title>About | Gloverx Shipping Services</title>
  </head>
  <body data-scroll-one class="demo-1" id="pageTop">
    <!--=============================================== Navigation ================================-->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/gloverx.png' %}" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="active nav-link" href="#pageTop">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
          <li class="nav-item" id="track_shipment_btn">
            <a href="{% url 'tracking' %}" id="track_shipment">
              <button class="button alternative">Track Shipment</button>
            </a>
          </li>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->

    <main>
      <div data-scroll-one class="page page--layout-2">
        <!--====================================================== Img-Content ==========================================-->
        <div class="content content--full content--alternate"></div>
        <!-- End content -->
        <!--=============================================== Hero-Section ================================-->
        <div id="hero">
          <div class="container-fluidd">
            <div class="hero-intro">
              <div class="wrapper">
                <div class="line">
                  <span>We take pride in every shipment,</span>
                </div>
                <!-- End line -->
                <div class="line">
                  <span>We're your logistics experts.</span>
                </div>
                <!-- End line -->
              </div>
              <!-- End wrapper -->

              <div class="mobile_txt">
                <div class="wrapper">
                  <div class="line">
                    <span>We're your</span>
                  </div>
                  <!-- End line -->
                  <div class="line">
                    <span>shipping experts.</span>
                  </div>
                  <!-- End line -->
                </div>
                <!-- End wrapper -->
              </div>
              <!-- End mobile_txt -->

              <div id="scrollDown" class="animate-this">
                <a href="#image">
                  <img id="scroll_circle" src="{% static 'images/div_circle.svg' %}" class="img-fluid" alt="scroll_arrow" />
                  <svg id="svg_arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 28">
                    <defs></defs>
                    <path
                      fill="#ff6d00"
                      d="M49.1,15.7l-11-11c0,0-0.1,0-0.1,0L35.7,7c-0.1,0.1-0.1,0.1,0,0.2l7.1,7.1c0.1,0.1,0,0.2-0.1,0.2H6.2c-1.1,0-2-0.9-2-2V1c0-0.1-0.1-0.3-0.3-0.3H1C0.9,0.7,0.8,0.8,0.8,1v12.5c0,2.5,2,4.5,4.5,4.5h37.1c0.1,0,0.2,0.1,0.1,0.2l-6.7,6.7c-0.1,0.1-0.1,0.2,0,0.3l2.1,2.1c0.1,0.1,0.2,0.1,0.3,0l10.9-10.9C49.2,16.2,49.2,15.9,49.1,15.7z"
                    ></path>
                  </svg>
                </a>
              </div>
              <!-- End scrollDown -->
            </div>
            <!-- End hero-intro -->
          </div>
          <!-- End container-fluidd -->
        </div>
        <!-- End hero -->

        <!--============================================ Image-Section ================================-->
        <div id="image">
          <div class="container-fluidd">
            <div class="image-intro">
              <img id="about_mobile" src="{% static 'images/about_banner.avif' %}" class="img-fluid" alt="about_mobile" />
            </div>
            <!-- End intro-intro -->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End info -->

        <!--============================================ About-Section ================================-->
        <div id="about">
          <div class="container-fluid">
            <div class="about-intro">
              <div class="row">
                <div class="col-md-4">
                  <h6>
                    <img id="roll" src="{% static 'images/line.png' %}" class="img-fluid" alt="rool_img" />
                    About Us
                  </h6>
                </div>
                <!-- End col -->

                <div class="col-md-8">
                  <p class="reveal-text">
                    Welcome to Gloverx Shipping Services! At Gloverx Shipping Services, we specialize in providing seamless, reliable, and cost-effective shipping, cargo and logistics solutions. Whether you’re a small business looking to expand globally or a large corporation seeking to streamline your supply chain, we are here to help you navigate
                    the complexities of international trade with ease.
                  </p>
                </div>
                <!-- End col -->
              </div>
              <!-- End row -->

              <div class="row">
                <div class="col-md-6">
                  <h6 id="mission_txt">
                    <img id="roll" src="{% static 'images/line.png' %}" class="img-fluid" alt="rool_img" />
                    Our Mission
                  </h6>

                  <p class="reveal-text">At Glover Shipping Services, we deliver reliable, cost-effective shipping and logistics solutions with seamless customs compliance. Our focus is on on-time delivery, customer satisfaction, and building trust through transparency and expertise in customs brokerage.</p>
                </div>
                <!-- End col -->

                <div class="col-md-6" id="last-row">
                  <h6>
                    <img id="roll" src="{% static 'images/line.png' %}" class="img-fluid" alt="rool_img" />
                    Our Vision
                  </h6>

                  <p class="reveal-text">
                    To be the trusted global leader in shipping and logistics, simplifying cross-border trade and delivering seamless, efficient, and innovative solutions for businesses worldwide. This vision reflects a long-term goal of leadership, trust, and innovation, which are key for any company in the logistics space.
                  </p>
                </div>
                <!-- End col -->
              </div>
              <!-- End row -->
            </div>
            <!-- End about-intro -->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End about -->

        <!--============================================ Info-Section ================================-->
        <div id="info">
          <div class="container-fluidd">
            <div class="info-intro">
              <img id="info_img" src="{% static 'images/info_banner.avif' %}" class="img-fluid" alt="info_img" />
            </div>
            <!-- End info-intro -->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End info -->

        <!--============================================ WhyChoose-Section ================================-->
        <div id="why_choose">
          <div class="container-fluid">
            <div class="why_choose-intro">
              <div class="row">
                <div class="col-md-5">
                  <img id="circle" src="{% static 'images/circle.svg' %}" class="img-fluid" alt="circle" />
                </div>
                <!-- End col -->

                <div class="col-md-6 align-self-center">
                  <h6>Why you should <span>choose us?</span></h6>

                  <p class="reveal-text">No matter where you need to ship, we connect you to markets across the globe. Our goal is to ensure your products reach their destinations quickly and efficiently.</p>

                  <p class="reveal-text">We understand the importance of cost-effective shipping. That's why we provide competitive pricing to help you manage and optimize your shipping budget.</p>

                  <p class="reveal-text">With our reliable services, you can focus on growing your business while we take care of your logistics needs.</p>
                </div>
                <!-- End col -->
              </div>
              <!-- End row -->
            </div>
            <!-- End why_choose-intro -->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End why_choose -->

        <!--============================================ Message-Section ================================-->
        <div id="message">
          <div class="container-fluid">
            <div class="message-intro">
              <h1 data-splitting>Gloverx Shipping Services</h1>
              <h6 class="animate-this">
                <img id="roll" src="{% static 'images/line.png' %}" class="img-fluid" alt="rool_img" />
                Delivering Smiles, One Package at a Time.
              </h6>
            </div>
            <!-- End message-intro -->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End message -->

        <!--============================================ Footer-Section ================================-->
        <footer>
          <div class="container-fluid">
            <div class="footer-intro">
              <div class="card">
                <div class="card-body">
                  <div class="row footer-content">
                    <div class="col-md-8">
                      <img src="{% static 'images/gloverx.png' %}" class="img-fluid" id="footer_logo" alt="footer_logo" />
                      <a href="{% url 'contact' %}"><span>Contact Us</span></a>
                      <a href="{% url 'tracking' %}"><span>Track Shipment</span></a>
                    </div>
                    <!-- end col -->

                    <div class="col-md-4 social-links align-self-center">
                      <a href="https://twitter.com/gloverxshippingservices" aria-label="Twitter" target="_blank">
                        <img src="{% static 'images/x.svg' %}" id="footer_icon" class="img-fluid" alt="footer_icon" />
                      </a>
                      <a href="https://instagram.com/gloverx_shipping" aria-label="Instagram" target="_blank">
                        <img src="{% static 'images/ig.svg' %}" id="footer_icon" class="img-fluid" alt="footer_icon" />
                      </a>
                    </div>
                    <!-- end social-links -->
                  </div>
                  <!-- end footer-content -->
                </div>
                <!-- end card-body -->
              </div>
              <!-- end card -->

              <!--  -->
              <div class="footer-sub">
                <p>&copy; 2025 Gloverx. All rights reserved.</p>
              </div>
              <!-- end footer-sub -->
              <!--  -->
            </div>
            <!-- end footer-intro -->
          </div>
          <!-- end container -->
        </footer>
        <!-- end footer -->

        <!--  -->
        <div class="whatsapp-container">
          <div class="need-help">Need Help?</div>
          <a href="https://api.whatsapp.com/send?phone=+233555255911&text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank" class="whatsapp-btn">
            <img src="{% static 'images/whatsapp-icon.png' %}" class="img-fluid" alt="WhatsApp Chat" />
          </a>
        </div>
        <!-- end whatsapp-container -->

        <!--  -->
        <div class="cursor">
          <div class="cursor__inner cursor__inner--circle"></div>
        </div>
        <!-- End cursor -->
      </div>
      <!-- End page--layout-2 -->
    </main>
    <!--=============================================== JavaScript ===================================-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <!-- unpkg -->
    <script src="https://unpkg.com/@barba/core"></script>
    <!-- Custom Script -->
    <script src="{% static 'js/scrollTrigger.min.js' %}"></script>
    <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <script src="{% static 'js/vendor/charming.min.js' %}"></script>
    <script src="{% static 'js/vendor/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/about.js' %}"></script>
  </body>
</html>
