{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Delivering Smiles, One Package at a Time." />
    <meta name="keywords" content="Gloverx Shipping Services" />
    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static 'images/gloverx.png' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/button_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
    <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />
    <title>Home | Gloverx Shipping Services</title>
  </head>
  <body data-scroll-one class="demo-1" id="pageTop">
    <!--=============================================== Navigation ================================-->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#pageTop">
          <img src="{% static 'images/gloverx.png' %}" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
          <li class="nav-item" id="track_shipment_btn">
            <a href="{% url 'tracking' %}" id="track_shipment">
              <button class="button alternative">Track Shipment</button>
            </a>
          </li>
        </div>
      </div>
    </nav>
    <!-- End NavBar -->

    <main>
      <div data-scroll-one class="page page--layout-2">
        <!--====================================================== Img-Content ==========================================-->
        <div class="content content--full content--alternate"></div>
        <!-- End content -->
        <!--=============================================== Hero-Section ================================-->
        <div id="hero">
          <div class="container-fluidd">
            <div class="hero-intro">
              <img id="show_img" src="{% static 'images/v.avif' %}" class="img-fluid" alt="active_img" />

              <div id="style_container">
                <div class="wrapper">
                  <div class="line">
                    <span>GLOVERX</span>
                  </div>
                  <!-- End line -->
                  <div class="line">
                    <span>SHIPPING SERVICES</span>
                  </div>
                  <!-- End line -->
                </div>
                <!-- End wrapper -->

                <h6 class="animate-this">
                  <img id="roll" src="{% static 'images/line.png' %}" class="img-fluid" alt="rool_img" />
                  Delivering Smiles, One Package at a Time.
                </h6>
                <p class="animate-this">
                  Welcome to Gloverx Shipping Services! At Gloverx Shipping Services, we specialize in providing seamless, reliable, and cost-effective shipping, cargo and logistics solutions. Whether you’re a small business looking to expand globally or a large corporation seeking to streamline your supply chain, we are here to help you navigate
                  the complexities of international trade with ease.
                </p>
                <a href="{% url 'about' %}">
                  <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                      <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Find Out More</span>
                  </button>
                </a>
              </div>
              <!-- End style_container -->
            </div>
            <!-- End hero-intro -->
          </div>
          <!-- End container-fluidd -->
        </div>
        <!-- End hero -->

        <!--=============================================== Info-Section ================================-->
        <div id="info">
          <div class="container">
            <div class="info-intro">
              <div class="row">
                <div class="col-md-6 align-self-center" id="review_txt">
                  <h2>Let's Review Our Progress</h2>
                  <p>Track our journey of excellence through the numbers that define our success. With industry-leading delivery rates, expanding global reach, and a growing customer base, we consistently deliver reliable shipping solutions that keep your business moving forward.</p>
                </div>
                <!-- End col-md-7 -->

                <div class="col-md-5">
                  <div class="row">
                    <div class="col-6 col-md-6">
                      <h6>
                        <img src="{% static 'images/eye.svg' %}" id="info_icons" class="img-fluid" alt="info_icons" />
                        real-time tracking
                      </h6>
                      <div class="info-box">
                        <div class="counter-value" data-count="99" data-symbol="%">0</div>
                      </div>
                      <!-- end info-box -->
                    </div>
                    <!-- End col -->

                    <div class="col-6 col-md-6">
                      <h6>
                        <img src="{% static 'images/dots.svg' %}" id="info_icons" class="img-fluid" alt="info_icons" />
                        on-time delivery
                      </h6>
                      <div class="info-box">
                        <div class="counter-value" data-count="99" data-symbol="%">0</div>
                      </div>
                      <!-- end info-box -->
                    </div>
                    <!-- End col -->
                  </div>
                  <!-- End row -->

                  <!--  -->

                  <div class="row">
                    <div class="col-6 col-md-6">
                      <h6>
                        <img src="{% static 'images/up.svg' %}" id="info_icons" class="img-fluid" alt="info_icons" />
                        Countries Serviced
                      </h6>
                      <div class="info-box">
                        <div class="counter-value" data-count="3"><span>0</span></div>
                      </div>
                      <!-- end info-box -->
                    </div>
                    <!-- End col -->

                    <div class="col-6 col-md-6">
                      <h6>
                        <img src="{% static 'images/dots.svg' %}" id="info_icons" class="img-fluid" alt="info_icons" />
                        customers
                      </h6>
                      <div class="info-box">
                        <div class="counter-value" data-count="600" data-symbol="+">0</div>
                      </div>
                      <!-- end info-box -->
                    </div>
                    <!-- End col -->
                  </div>
                  <!-- End row -->
                </div>
                <!-- End col-md-5 -->
              </div>
              <!-- End row -->
            </div>
            <!-- end info-itro -->
          </div>
          <!-- End container -->
        </div>
        <!-- end info -->

        <!--=============================================== Mission_Vision-Section ================================-->
        <div id="mission_vision">
          <div class="conatiner">
            <div class="mission_vision-intro">
              <a href="#">
                <div id="mission_">
                  <h1>
                    <div class="card">
                      <div class="card-body">
                        Our Mission
                        <span><img src="{% static 'images/line.png' %}" id="line__" class="img-fluid" alt="line__" /></span>
                      </div>
                      <!-- end card-body -->
                    </div>
                    <!-- end card -->
                  </h1>
                </div>
              </a>
              <!-- End mission -->

              <a href="#">
                <div id="vision_">
                  <h1>
                    <div class="card">
                      <div class="card-body">
                        Our Vision
                        <span>
                          <img src="{% static 'images/line.png' %}" id="line__" class="img-fluid" alt="line__" />
                        </span>
                      </div>
                      <!-- end card-body -->
                    </div>
                    <!-- end card -->
                  </h1>
                </div>
              </a>
              <!-- End vision -->
            </div>
            <!-- end mission_vision-intro -->
          </div>
          <!-- end conatiner -->
        </div>
        <!-- end mission_vision -->

        <!--=============================================== Clients-Section =======================================-->
        <div id="clients">
          <div class="container-fluid">
            <div class="txt">
              <h1 class="reveal-text">Our Partners</h1>
              <h6>
                <span>Our valued partners are integral to our success.</span>
              </h6>
            </div>
            <div id="clients-slider" class="owl-carousel owl-theme">
              <img src="{% static 'images/client_one.png' %}" class="img-fluid" alt="first" />
              <img src="{% static 'images/client_two.png' %}" class="img-fluid" alt="two" />
              <img src="{% static 'images/aramex.png' %}" class="img-fluid" alt="three" />
              <img src="{% static 'images/client_four.png' %}" class="img-fluid" alt="four" />
              <img src="{% static 'images/unnamed.png' %}" class="img-fluid" alt="five" />
            </div>
            <!-- End clients-slider -->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End clients -->

        <!--=============================================== Testimonial-Section =======================================-->
        <div id="testimonial">
          <div class="container">
            <div class="testimonial-intro">
              <h1>Gloverx: Proven Success, Backed by Our Clients.</h1>
              <div class="row">
                <div class="col-md-7">
                  <div class="card">
                    <div class="card-body">
                      <img src="{% static 'images/quotes.png' %}" id="quote_img" class="img-fluid" alt="quote_img" />
                      <p class="reveal-text">ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-md-5">
                  <div class="card">
                    <div class="card-body">
                      <img src="{% static 'images/quotes.png' %}" id="quote_img" class="img-fluid" alt="quote_img" />
                      <p class="reveal-text">ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->

              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <img src="{% static 'images/quotes.png' %}" id="quote_img" class="img-fluid" alt="quote_img" />
                      <p class="reveal-text">ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end testimonial-intro -->
          </div>
          <!-- end container -->
        </div>
        <!-- End testimonial -->

        <!--=============================================== Services-Section =======================================-->
        <div id="services">
          <div class="container">
            <div class="service-intro">
              <h1>Shipping and Logistics Services.</h1>

              <!--  -->
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <div class="img">
                      <img src="{% static 'images/serv_one.avif' %}" id="serv_img" class="img-fluid card-img-top" alt="serv_img" />
                    </div>
                    <!-- end img -->
                    <div class="card-body">
                      <h5 class="card-title reveal-text">Freight Management</h5>
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-md-4">
                  <div class="card">
                    <div class="img">
                      <img src="{% static 'images/serv_two.avif' %}" id="serv_img" class="img-fluid card-img-top" alt="serv_img" />
                    </div>
                    <!-- end img -->
                    <div class="card-body">
                      <h5 class="card-title reveal-text">Clearance and Duty Assistance</h5>
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-md-4">
                  <div class="card">
                    <div class="img">
                      <img src="{% static 'images/serv_three.avif' %}" id="serv_img" class="img-fluid card-img-top" alt="serv_img" />
                    </div>
                    <!-- end img -->
                    <div class="card-body">
                      <h5 class="card-title reveal-text">Export Facilitation</h5>
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->

              <center>
                <a href="{% url 'services' %}">
                  <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                      <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Find Out More</span>
                  </button>
                </a>
              </center>

              <!--  -->
            </div>
            <!-- end service-intro -->
          </div>
          <!-- end container -->
        </div>
        <!-- end services -->

        <!--============================================ Message-Section ================================-->
        <div id="message">
          <div class="container-fluid">
            <div class="message-intro">
              <h1 data-splitting>Gloverx Shipping Services</h1>
              <h6 class="animate-this">
                <img id="roll" src="{% static 'images/line.png' %}" class="img-fluid" alt="rool_img" />
                Delivering Smiles, One Package at a Time.
              </h6>
            </div>
            <!-- End message-intro -->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End message -->

        <!--============================================ Footer-Section ================================-->
        <footer>
          <div class="container-fluid">
            <div class="footer-intro">
              <div class="card">
                <div class="card-body">
                  <div class="row footer-content">
                    <div class="col-md-8">
                      <img src="{% static 'images/gloverx.png' %}" class="img-fluid" id="footer_logo" alt="footer_logo" />
                      <a href="{% url 'contact' %}"><span>Contact Us</span></a>
                      <a href="{% url 'tracking' %}"><span>Track Shipment</span></a>
                    </div>
                    <!-- end col -->

                    <div class="col-md-4 social-links align-self-center">
                      <a href="https://twitter.com/gloverxshipping" aria-label="Twitter" target="_blank">
                        <img src="{% static 'images/x.svg' %}" id="footer_icon" class="img-fluid" alt="footer_icon" />
                      </a>
                      <a href="https://instagram.com/gloverx_shipping" aria-label="Instagram" target="_blank">
                        <img src="{% static 'images/ig.svg' %}" id="footer_icon" class="img-fluid" alt="footer_icon" />
                      </a>
                    </div>
                    <!-- end social-links -->
                  </div>
                  <!-- end footer-content -->
                </div>
                <!-- end card-body -->
              </div>
              <!-- end card -->

              <!--  -->
              <div class="footer-sub">
                <p>&copy; 2025 Gloverx. All rights reserved.</p>
              </div>
              <!-- end footer-sub -->
              <!--  -->
            </div>
            <!-- end footer-intro -->
          </div>
          <!-- end container -->
        </footer>
        <!-- end footer -->

        <!--  -->
        <div class="whatsapp-container">
          <div class="need-help">Need Help?</div>
          <a href="https://api.whatsapp.com/send?phone=+233555255911&text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank" class="whatsapp-btn">
            <img src="{% static 'images/whatsapp-icon.png' %}" class="img-fluid" alt="WhatsApp Chat" />
          </a>
        </div>
        <!-- end whatsapp-container -->

        <!--  -->
        <div class="cursor">
          <div class="cursor__inner cursor__inner--circle"></div>
        </div>
        <!-- End cursor -->
      </div>
      <!-- End page--layout-2 -->
    </main>
    <!--=============================================== JavaScript ===================================-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <!-- unpkg -->
    <script src="https://unpkg.com/@barba/core"></script>
    <!-- Custom Script -->
    <script src="{% static 'js/scrollTrigger.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <script src="{% static 'js/vendor/charming.min.js' %}"></script>
    <script src="{% static 'js/vendor/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!--Script code can be put in the bottom of the page, wait until the page is loaded then execute.-->
    <script type="text/javascript" src="//www.17track.net/externalcall.js"></script>
    <script type="text/javascript">
      function doTrack() {
        var num = document.getElementById("YQNum").value;
        if (num === "") {
          alert("Enter your number.");
          return;
        }
        YQV5.trackSingle({
          //Required, Specify the container ID of the carrier content.
          YQ_ContainerId: "YQContainer",
          //Optional, specify tracking result height, max height 800px, default is 560px.
          YQ_Height: 560,
          //Optional, select carrier, default to auto identify.
          YQ_Fc: "0",
          //Optional, specify UI language, default language is automatically detected based on the browser settings.
          YQ_Lang: "en",
          //Required, specify the number needed to be tracked.
          YQ_Num: num,
        });
      }
    </script>
  </body>
</html>
